.search-panel{
    width: 18%;
    align-content: center;
    background-color: blue;
    display:inline-block;
    margin: 1%;
    border-radius: 1em;
    /**/
}
.minimal-search-panel{
    width: 18%;
    align-content: center;
    background-color: blue;
    display:inline-block;
    margin-left: 41%;
    margin-top: 2em;
    border-radius: 1em;
}
label, .input{
    width: 80%;
    margin: 5%;
    /**/
}

div{
    box-sizing: border-box;
}
label{
    font-size: medium;
    font-weight: 600;
}
label, .filter-search-header{
    color:yellow;

    /**/
}
hr{
    color:yellow;
}
form{
    display: block;
    padding: 5%;
    text-align: center;
}
.form-subheader{
    font-size: large;
    font-weight: 900;
}
.filter-search-header{
    text-align: center;
    font-size: large;
    font-weight: 900;
}
.header{
    margin: 0;
    padding: 0;
    width: 100%;
}
.header-title{
    text-align: center;
    display:inline-block;
    margin: 0;
    padding: 0;
    width: 74%;
    text-decoration: none;
}
.header-options{
    margin: 0;
    text-align: center;
    padding: 0;
    display:inline-block;
    width: 25%;
}
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width:100%;
    background-color: blue;
}
.content{
    background-color: yellow;
    margin: 0;
    width: 100%;
    padding: 0;
    min-height: 80%;
}
th, td{
    text-align: center;
}
.rooms{
    vertical-align:top;
    width:78%;
    margin: 1%;

    display:inline-block;
}
.rooms-table{
    width:100%;
    height:100%;
    margin-bottom: 2%;
}
.submit-button, .reset-button{
    margin:5%;
    width: 35%;
    background-color: yellow;
}
.submit-button, .reset-button, .input{
    background-color: yellow;
    color: blue;
    font-size: large;
    font-weight: 900;
}

.header-title a{
    color: yellow;
    text-decoration: none;
}

.header-options a {
    color: yellow;
    background-color: blue;
    text-decoration: none;
    border-radius: 1em;
    border: 1px solid yellow;
    padding: 1em;
    box-sizing: border-box;
    margin: 1%;
}
.header-options a:active {
    color: blue;
    background-color: yellow;
    border: 1px solid blue;

}
td{
    color: blue;
    padding: 1em;
}
.rooms-table {
    border-collapse: collapse;

}
.rooms-table tr{
    border: 1px solid blue;
    border-radius: 1em;
}
th{
    color:yellow;
    background-color: blue;
}
.lang-input{
    background-color: yellow;
    color: blue;
    font-size: medium;
    font-weight: 600;

}
.lang-form{
    padding: 1em;
}
.rooms-pagination a{
    padding: 0.3em;
    color: yellow;
    background-color: blue;
    border-radius: 100%;
    text-decoration: none;
}
.rooms-pagination a:active{
    color: blue;
    background-color: yellow;
}
.rooms-table img{
    height: auto;
    width: 25%;
}
.footer{
    padding: 0;
}
.signinup {
    background-color: blue;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    color:yellow;
}
.signinup-form{
    display: inline-block;
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0;
    border: 1px solid blue;
    color:yellow;
    border-radius: 1em;
}
.signinup-form label{
    color:blue;
}
.message-panel{
    display: inline-block;
    padding: 0;
    margin-left: 25%;
    margin-bottom: 1em;
    width: 50%;
    background-color:yellow;
}
.message-header{
    color: blue;
    padding: 0.2em;
    text-align: center;
    margin: auto;
}